* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;    
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #557C56;
}

body {
    background-color: #222222;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

footer {
    padding: 1rem;
    text-align: center;
    margin-top: 20px
}